body {
    
    background: linear-gradient(black, white);

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    flex-direction: column;

}

*{
  
    font-family: cursive;

    box-sizing: padding-box;

}

form {
    
    width: 600px;

    border: 3px solid rgb(177,142,142);

    padding: 20px;

    background: linear-gradient(rgb(173,216,230), silver);

    border-radius: 20px;

}

h2 {

    text-align: center;

    margin-bottom: 40px;

}

input {
    
    display: block;

    border: 2px solid #ccc;

    width: 95%;

    padding: 10px;

    margin: 10px auto;

    border-radius: 5px;

}

label {

    color: #888;

    font-size: 18px;

    padding: 10px;

}

button {

    float: right;

    background: rgb(35, 174, 202);

    padding: 10px 15px;

    color: #fff;

    border-radius: 5px;

    margin-right: 10px;

    border: none;

}

button:hover {

    opacity: 10;

}

.error {

    background: #F2DEDE;

    color: #0c0101;

    padding: 10px;

    width: 95%;

    border-radius: 5px;

    margin: 20px auto;

}

h1 {

    text-align: center;

    color: rgb(134, 3, 3);

}

a {

    float: right;

    background: rgb(183, 225, 233);

    padding: 10px 15px;

    color: #fff;

    border-radius: 10px;

    margin-right: 10px;

    border: none;

    text-decoration: none;

}

p {

    text-align: center;
}

a:hover {

    opacity: 7;

}

.container {

    display: flex;

    overflow-x: auto;

}



.container .product {

    margin-right: 50px;

}

.container::-webkit-scrollbar {

    display: none;
}

.limit-title {
    width: 250px;
    word-wrap: break-word;
}

img {

    float: left;
    width: 250px;
    height: 250px;
    object-fit: scale-down;
}

.amount-selector {

    width: 100px;
}

.button-fancy-container {
    background-image: linear-gradient(to right, #0c0c86, #02046b);
    padding: 1.5em;
}

.button-fancy {
    background-color: #23b83c;
    border: 2px solid #020353;
    color: whitesmoke;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
    width: 22%;
    border-radius: 5px;
    box-shadow: 3px 3px 8px 0 #000;
}

.product-table {

}

input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}

