body {
    background: linear-gradient(black, white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}

*{
    font-family: cursive;
    box-sizing: padding-box;
}

.issue-order-container,
.login-container,
.search-container {    
    width: 600px;
    border: 3px solid rgb(177,142,142);
    padding: 20px;
    background: linear-gradient(rgb(173,216,230), silver);
    border-radius: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

input {    
    display: block;
    border: 2px solid #ccc;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

button {
    float: right;
    background: rgb(35, 174, 202);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

button:hover {
    opacity: 10;
}

.error {
    background: #F2DEDE;
    color: #0c0101;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: rgb(134, 3, 3);
}

a {
    float: right;
    background: rgb(183, 225, 233);
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}

p {
    text-align: center;
}

a:hover {
    opacity: 7;
}

.container {
    display: flex;
    overflow-x: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 350px;
}


.container .product {
    margin-right: 50px;
}

.container::-webkit-scrollbar {
    display: none;
}

.limit-title {
    width: 250px;
    word-wrap: break-word;
}

img {
    float: left;
    width: 250px;
    height: 250px;
    object-fit: scale-down;
}

.amount-selector {
    width: 100px;
}

.button-fancy {
    background-color: #23b83c;
    border: 2px solid #020353;
    color: whitesmoke;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
    width: 60%;
    border-radius: 5px;
    box-shadow: 3px 3px 8px 0 #000;
}

.product-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.product-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.product-table th,
.product-table td {
    padding: 12px 15px;
}

.product-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.product-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.product-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.product-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


