body {
    /* background: linear-gradient(black, white); */
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

* {
    font-family: "Fira Code";
    box-sizing: padding-box;
}

.logout {
    color: #CE2222;
    background-color: #FDFCFC;
}

.homepage {
    width: 900px;
    height: 600px;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #D6E2DA;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.issue-order-container,
.view-order-container,
.view-deliveries-container,
.login-container,
.search-container {
    width: 1500px;
    hwight: 700px;
    border: 3px solid rgb(255, 0, 0);
    padding: 20px;
    /* background: linear-gradient(rgb(173,216,230), silver); */
    background-color: #000000;
    border-radius: 20px;

}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

button {
    cursor: pointer;
    float: right;
    background: #000000;
    padding: 10px 15px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-right: 10px;
}

button:hover {
    opacity: 10;
}

.error {
    background: #F2DEDE;
    color: #0c0101;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: rgb(134, 3, 3);
}

p {
    text-align: center;
    color: #ffffff;
}

a:hover {
    opacity: 7;
}

.container {
    display: flex;
    overflow-x: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 350px;
}

.product, .order, .delivery {
    border: solid 1px #dddddd;
    border-radius: 5px;
    margin: 3px;
}

.container .product .order {
    margin-right: 50px;
    margin-top: 10px;
}

.container::-webkit-scrollbar {
    display: none;
}

.limit-title {
    width: 250px;
    word-wrap: break-word;
}

img {
    float: left;
    width: 250px;
    height: 250px;
    object-fit: scale-down;
}

.amount-selector {
    width: 100px;
}

.button-fancy {
    background-color: #23b83c;
    border: 2px solid #020353;
    color: whitesmoke;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
    width: 60%;
    border-radius: 5px;
    box-shadow: 3px 3px 8px 0 #000;
}

.product-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.product-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.product-table th,
.product-table td {
    padding: 12px 15px;
}

.product-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.product-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.product-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.product-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
